.thisHolder{
    font-family: "Share Tech Mono";
}

.buttonHolder{
    display: flex;
    justify-content: space-between;
    /* width: 500px; */
    /* position: absolute; */
    top: 20px;
    left: 30%;
}

.dButton{
    background-color: #B01414; 
    margin: 3px;
    border: 1px solid #482828;
    color: #E7E9EC;
}

.dImage{
    width: 300px;
}

.detailHolder{
    margin-top: 35px;
    color: #D3C015;
    display: flex;
    flex-direction: wrap;
    font-family: "Share Tech Mono";

}

@media screen and (max-width: 770px){
    .detailHolder{
        display: grid;
        place-items: center;
    }
}

.mainInfo{
    height: 600px;
    width: 300px;
    margin: 10px;
}

.nameInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 30px;
    font-family: "Share Tech Mono";
    font-size: 20px;
}


.text{
    margin: 2px;
}

.moreInfo{
    width: 50vw;

    @media screen and (max-width: 600px) {
        width: auto;
    }
}

.description{
    font-size: 20px;
    color: #AE9E12;
}