body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/297/064/original/4k-red-dot-on-black-background-animation-background-seamless-loop.jpg");
}

.container{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 115px;
}

.bar{
    position: absolute;
    top: 20px;
    left: 30%;
    margin-top: 25px;
}

.flex{
    display: flex;
    justify-content: center;
}

.page{
    color: white;
    font-style: myFont;
}