@font-face {
    font-family: myFont;
    src: url(../fonts/Formula1-Regular_web_0.ttf);
}

.search{
    height: 35px;
    width: 200px;
    margin: 10px;
    color: #E7E9EC;
    background-color: #242424;
    font-family: Share Tech Mono;
    font-size: 15px;
    border: 1px solid #242424;
    border-radius: 5px
}

.search:focus{
    outline: 1px solid #FFC300;
}

.scroll{
    height: 35px;
    margin: 2px;
    color: #E7E9EC;
    background-color: #242424;
    font-family: Share Tech Mono;
    border: 1px solid #242424;
    border-radius: 5px

}

.scroll:hover{
    cursor: pointer;
}

.scroll:focus{
    outline: 1px solid #FFC300;
}


.button{
    background-color: #1C3A68; 
    color: #E7E9EC;
    margin: 3px;
}

.button:hover{
    border: 1px solid black;
}
